* { 
box-sizing: border-box;
}

/*Sivuston fontin, fontti-värin, taustavärin ja fontti-koon määritys*/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #0a0808;
    background-color: #ababb3;
    font-size: 16px
}

/*Sivuston vaaleanpunainen laatikko, laatikkomalli / boxmodel määritys*/
main{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #dbc8d7;
    padding: 30px;
    border-radius: 12px; /* Pehmeät kulmat */
}

/* Kortti-Laatikkomalli / Boxmodel määritys (mm. sivuston tekstin reunamarginaalit/sisennys) */
.kortti {
    width: 300;
    padding: 25px;
    border: 2px;
    margin: 25px auto;
}

/*Flexbox, joka laittaa sivustolla valinnat vierekkäin laatikkoon*/
nav ol {
    display: flex; /* Tämä laittaa valinnat vierekkäin  */
    list-style: none; /* ei käytetty */
    gap: 15px;
    padding: 0;
    justify-content:space-around;
    flex-direction:row;
    background-color: antiquewhite;
}

/*Mediakysely, jonka avulla määritetty sivuston laatikoiden menevän allekkain jos leveys ylittää 600px*/
@media (max-width: 600px) {
    .kortti {
        flex-direction:column;
    }
}

/*Painike, kun hiiren vie päälle vaihtuu väri (hover)*/
.painike {
background-color: rgb(195, 20, 151);
color: white;
}

.painike:hover {
background-color: rgb(151, 3, 89);
}